*
    margin: 0
    padding: 0
main 
    width: 100vw
    height: 100vh
    background-color: #242424
    display: table-cell
    vertical-align: middle
    .timer
        width: 100%
        
    .timerbox
        margin: auto
        width: 70%
        height: 200px
        background-color: #606060
        box-shadow: 2px 2px 10px black
        font-size: 35px
        font-family: 'PT Mono', monospace
        color: white
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        button
            min-width: 120px
            border: none
            padding: 7px
            box-shadow: 1px 1px 1px black
            transition: .2s
            &:hover
                box-shadow: 1px 1px 7px black